section {
  width: 100%;
  height: calc(100vh - 66px - 64px);
  display: flex;
  justify-content: center;
}

input {
  color: white;
}

.input-email {
  width: 100%;
}

.title {
  color: white;
  font-weight: bold;
}

.mat-dialog-content {
  width: 500px;
  height: 400px;
  padding: 30px;
  box-shadow: 0 0 3px 3px #232323;
  border-radius: 0 0 20px 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-dialog-actions {
  padding-top: 10px;
}
